<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= selPlayer.name %></title>
  </head>
  <%- include('./partials/nav.ejs') %>
  <body>
    <h1>
      <%= selPlayer.name %>
      <span id="smallPositiion"><%= selPlayer.position %></span>
    </h1>
    <p><%= selPlayer.age %> years old</p>
  </body>
</html>
